html, body {
    height: 100%;
}

.game-wrapper {
    width: 100%;
    height: 100%;
}

.player {
    position: absolute;
    margin: 0;
    width: 50%;
    height: 100%;
}

.me {
    right:50%;
    background-color: #71AD5D;
}

.opponent {
    left: 50%;
    background-color: #E05C5E;
}
